{% extends 'base_detail_list.html' %}
{% load staticfiles %}
{% block title %}天天生鲜-商品详情{% endblock title %}

{% block body %}
	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>	
				<span></span>			
				<ul class="subnav">
                    {% for type in types %}
					<li><a href="#" class="{{ type.logo }}">{{ type.name }}</a></li>
                    {% endfor %}
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="{% url 'goods:index' %}">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">{{ goods_sku.goods.name }}</a>
		<span>></span>
		<a href="#">商品详情</a>
	</div>

	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="{{ goods_sku.image.url }}"></div>

		<div class="goods_detail_list fr">
			<h3>{{ goods_sku.name }}</h3>
			<p>{{ goods_sku.desc }}</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em>{{ goods_sku.price }}</em></span>

				<span class="show_unit">单  位：{{ goods_sku.unite }}</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input type="text" class="num_show fl" value="1">

					<a href="javascript:;" class="add fr">+</a>
					<a href="javascript:;" class="minus fr">-</a>	
				</div>
            </div>
            <div>
                <ul>
                    {% for spu in goods_spu %}
                        <a href="{% url 'goods:detail' spu.id %}">{{ spu.name }}</a> &nbsp;&nbsp;
                    {% endfor %}
                </ul>
            </div>

			<div class="total">总价：<em>16.80元</em></div>
			<div class="operate_btn">
				<a href="javascript:;" class="buy_btn">立即购买</a>
                {% csrf_token %}
				<a href="javascript:;" sku="{{ goods_sku.id }}" class="add_cart" id="add_cart">加入购物车</a>
			</div>
		</div>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
                    {% for goods in new_goods %}
					<li>
						<a href="{% url 'goods:detail' goods.id %}"><img src="{{ goods.image.url }}"></a>
						<h4><a href="{% url 'goods:detail' goods.id %}">{{ goods.name }}</a></h4>
						<div class="prize">￥{{ goods.price }}</div>
					</li>
                    {% endfor %}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li id="sku_int" class="active">商品介绍</li>
				<li id="sku_con">评论</li>
			</ul>

			<div id="1" class="tab_content">
				<dl>
					<dt>商品详情：</dt>
					<dd>{{ goods_sku.goods.detail | safe }}</dd>
				</dl>
			</div>
            <div id="2" class="tab_content" style="display: none">
				<dl>
                    {% for comment in comments %}
					<dt>评论时间：{{ comment.update_time }}&nbsp;&nbsp;用户名称：{{ comment.order.user }}</dt>
					<dd>评论内容：{{ comment.comment }}</dd>
                    {% endfor %}
				</dl>
			</div>

		</div>
	</div>
{% endblock body %}
{% block bottom %}
	<div class="add_jump"></div>
{% endblock bottom %}

{% block bottomfiles %}
	<script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
	<script type="text/javascript">
        $('#sku_int').click(function () {
            $(this).addClass('active').next().removeClass('active')
            $('#1').show()
            $('#2').hide()
        })
        $('#sku_con').click(function () {
            $(this).addClass('active').prev().removeClass('active')
            $('#2').show()
            $('#1').hide()
        })
        upload_sum_price()
        function upload_sum_price() {
        // 设置总价
            // 获取单价
            price = $('.show_pirze em').text();
            // 获取数量
            num = $('.num_show').val();
            price = parseFloat(price)
            num = parseInt(num)
            // 设置总价
            $('.total em').text((price * num).toFixed(2)+'元')
        }
        $('.add').click(function () {
            // 实现+按钮的功能
            num = $('.num_show').val();
            num = parseInt(num);
            num += 1;
            $('.num_show').val(num);
            upload_sum_price()
        })
        $('.minus').click(function () {
            // 实现-按钮的功能
            num = $('.num_show').val();
            num = parseInt(num);
            num -= 1;
            if (num <= 0)
            {
                num = 1
            }
            $('.num_show').val(num);
            upload_sum_price()
        })
        $('.num_show').change(function () {
            // 实现手动输入数量
            num = $(this).val()
            // num = parseInt(num)
            if (isNaN(num) || num.trim().length == 0 || parseInt(num) <= 0)
            {
                num = 1
            }
            num = parseInt(num)
            $(this).val(num)
            upload_sum_price()
        })


		var $add_x = $('#add_cart').offset().top;
		var $add_y = $('#add_cart').offset().left;

		var $to_x = $('#show_count').offset().top;
		var $to_y = $('#show_count').offset().left;


		$('#add_cart').click(function(){
		    // 获取数量此商品购买数量
            count = $('.num_show').val()
            // 获取商品id
            sku_id = $('.add_cart').attr("sku")
            // 获取 csrf
            csrf = $('input[name=csrfmiddlewaretoken]').val()
		    countext = {'count':count, 'sku_id': sku_id, 'csrfmiddlewaretoken': csrf}
		    $.post('/cart/add', countext, function (data) {
                if (data.res == 5)
                {
                    $(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'})
                    $(".add_jump").stop().animate({
                        'left': $to_y+7,
                        'top': $to_x+7},
                        "fast", function() {
                            $(".add_jump").fadeOut('fast',function(){
                                $('#show_count').html(data.len_cart);
					        });
                        });

                }
                else
                {
                    alert(data.errmsg)
                }
            })


		})
	</script>
{% endblock bottomfiles %}
